# Project notebook

The following notebook is an excerpt and re-written example from a _real_ production model.

The overall purpose of the ML algorithm is to identify users on the website that are new possible customers. This is done by collecting behaviour data from the users as input, and the target is whether they converted/turned into customers -- essentially a classification problem. 

This notebook only focuses on the data processing part. As you know, there are multiple steps in an ML pipeline, and it's not always they are neatly separated like this. For the exam project, they will not be, and that is part of the challenge for you. For production code, it should also not be Python notebooks since, as you may well see, it is difficult to work with and collaborate on them in an automated way.

There is a lot of "fluff" in such a notebook. This ranges from comments and markdown cells to commented out code and random print statements. That is not necessary in a properly managed project where you can use git to check the version history and such. 

What is important for you is the identify the entry points into the code and segment them out into easily understandable chunks. Additionally, you might want to follow some basic code standards, such as:

- Import only libraries in the beginning of the files
- Define functions in the top of the scripts, or if used multiple places, move into a util.py script or such
- Remove unused/commented out code
- Follow the [PEP 8](https://peps.python.org/pep-0008/) style guide (and others)
  
Another thing to note is that comments can be misleading. Even if the markdown cell or inline comments says it does _X_, don't be surprised if it actually does _Y_. Sometimes additional text can be a blessing, but it can also be a curse sometimes. Remember, though, that your task is to make sure the code runs as before after refactoring the notebook into other files, not update/improve the model or flow to reflect what the comments might say.

***

# DATA PROCESSING

In this section, we will perform Exploratory Data Analysis (EDA) to better understand the dataset before proceeding with more advanced analysis. EDA helps us get a sense of the data’s structure, identify patterns, and spot any potential issues like missing values or outliers. By doing so, we can gain a clearer understanding of the data's key characteristics.

We will start with summary statistics to review basic measures like mean, median, and variance, providing an initial overview of the data distribution. Then, we’ll create visualizations such as histograms, box plots, and scatter plots to explore relationships between variables, check for any skewness, and highlight outliers.

The purpose of this EDA is to ensure that the dataset is clean and well-structured for further analysis. This step also helps us identify any necessary data transformations and informs decisions on which features might be most relevant for modeling in later stages.

# Create artifact directory
We want to create a directory for storing all the artifacts in the current directory. Users can load all the artifacts later for data cleaning pipelines and inferencing.

In [1]:
# dbutils.widgets.text("Training data max date", "2024-01-31")
# dbutils.widgets.text("Training data min date", "2024-01-01")
# max_date = dbutils.widgets.get("Training data max date")
# min_date = dbutils.widgets.get("Training data min date")

# testnng
max_date = "2024-01-31"
min_date = "2024-01-01"

In [2]:
import sys, os
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "..")))

In [5]:
import os
import shutil
from pprint import pprint

# shutil.rmtree("./artifacts",ignore_errors=True)
os.makedirs("artifacts",exist_ok=True)
print("Created artifacts directory")

Created artifacts directory

# Pandas dataframe print options

In [6]:
import pandas as pd
import warnings

warnings.filterwarnings('ignore')
pd.set_option('display.float_format',lambda x: "%.3f" % x)

# Helper functions

* **describe_numeric_col**: Calculates various descriptive stats for a numeric column in a dataframe.
* **impute_missing_values**: Imputes the mean/median for numeric columns or the mode for other types.

# Read data

We read the latest data from our data lake source. Here we load it locally after having pulled it from DVC.

In [5]:
!dvc pull

Collecting                                            |0.00 [00:00,    ?entry/s]
Fetching
!
  0% Checking cache in '/Users/tettret/Desktop/MLOps/itu-sdse-project/mlops_refa
Fetching
Building workspace index                              |3.00 [00:00,  982entry/s]
Comparing indexes                                    |4.00 [00:00, 2.22kentry/s]
Applying changes                                      |0.00 [00:00,     ?file/s]
Everything is up to date.

In [7]:
print("Loading training data")

data = pd.read_csv("/Users/tettret/Desktop/MLOps/itu-sdse-project/mlops_refactor/data/raw/raw_data.csv")

print("Total rows:", data.count())
display(data.head(5))

Loading training data
Total rows: lead_id                              12345
lead_indicator                       11753
date_part                            12345
is_active                            12345
marketing_consent                    12345
first_booking                        12345
existing_customer                    12345
last_seen                            12345
source                               12345
domain                               12345
country                              12345
visited_learn_more_before_booking    12345
visited_faq                          12345
purchases                            12345
time_spent                           12345
customer_group                       12345
onboarding                           12345
customer_code                        12294
n_visits                             12345
dtype: int64

,lead_id,lead_indicator,date_part,is_active,marketing_consent,first_booking,existing_customer,last_seen,source,domain,country,visited_learn_more_before_booking,visited_faq,purchases,time_spent,customer_group,onboarding,customer_code,n_visits
0,0,0.000,2024-01-24,0,True,2024-01-25,False,2024-01-13,organic,.dk,US,8,10,5,115.064,2,True,NaN,9
1,1,NaN,2024-01-1,1,True,2024-01-24,False,2024-01-6,signup,.dk,US,0,3,5,119.907,2,False,AGMVEYWACO,1
2,2,1.000,2024-01-27,0,True,2024-01-30,True,2024-01-30,signup,.dk,DK,7,10,3,100.474,5,False,STWPXVNOWA,16
3,3,1.000,2024-01-28,0,False,2024-01-10,False,2024-01-11,li,.cn,US,10,10,4,98.572,4,True,HZOKZERLZD,16
4,4,0.000,2024-01-5,0,True,2024-01-30,True,2024-01-25,fb,.com,US,5,1,5,101.996,9,False,CVLIHCAPZN,2

In [ ]:
#import pandas as pd
#import datetime
#import json

#if not max_date:
#    max_date = pd.to_datetime(datetime.datetime.now().date()).date()
#else:
#    max_date = pd.to_datetime(max_date).date()

#min_date = pd.to_datetime(min_date).date()

# Time limit data
#data["date_part"] = pd.to_datetime(data["date_part"]).dt.date
#data = data[(data["date_part"] >= min_date) & (data["date_part"] <= max_date)]

#min_date = data["date_part"].min()
#max_date = data["date_part"].max()
#date_limits = {"min_date": str(min_date), "max_date": str(max_date)}
#with open("./artifacts/date_limits.json", "w") as f:
#    json.dump(date_limits, f)

In [6]:
from data.preprocessing import filter_data_by_date


data=filter_data_by_date(data, min_date=min_date, max_date=max_date)
data

,lead_id,lead_indicator,date_part,is_active,marketing_consent,first_booking,existing_customer,last_seen,source,domain,country,visited_learn_more_before_booking,visited_faq,purchases,time_spent,customer_group,onboarding,customer_code,n_visits
0,0,0.000,2024-01-24,0,True,2024-01-25,False,2024-01-13,organic,.dk,US,8,10,5,115.064,2,True,NaN,9
1,1,NaN,2024-01-01,1,True,2024-01-24,False,2024-01-6,signup,.dk,US,0,3,5,119.907,2,False,AGMVEYWACO,1
2,2,1.000,2024-01-27,0,True,2024-01-30,True,2024-01-30,signup,.dk,DK,7,10,3,100.474,5,False,STWPXVNOWA,16
3,3,1.000,2024-01-28,0,False,2024-01-10,False,2024-01-11,li,.cn,US,10,10,4,98.572,4,True,HZOKZERLZD,16
4,4,0.000,2024-01-05,0,True,2024-01-30,True,2024-01-25,fb,.com,US,5,1,5,101.996,9,False,CVLIHCAPZN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12340,12340,1.000,2024-01-07,0,True,2024-01-6,True,2024-01-17,li,.dk,DK,2,7,2,115.697,4,False,INLXHQVEHO,16
12341,12341,0.000,2024-01-28,1,True,2024-01-30,True,2024-01-2,organic,.cn,US,4,1,4,102.569,3,False,BDODVMUHMQ,5
12342,12342,0.000,2024-01-25,1,False,2024-01-1,False,2024-01-3,organic,.dk,US,3,1,4,96.472,2,False,VHKXQMJMMP,1
12343,12343,1.000,2024-01-29,0,True,2024-01-11,False,2024-01-25,signup,.com,DK,3,0,8,105.713,8,True,UNUSNTTYXR,18
12344,12344,0.000,2024-01-09,0,False,2024-01-16,False,2024-01-25,li,.dk,DK,2,10,5,110.765,4,False,QBMCKMQHZA,1

# Feature selection

Not all columns are relevant for modelling

In [7]:
data_test = data.drop(
    [
        "is_active", "marketing_consent", "first_booking", "existing_customer", "last_seen"
    ],
    axis=1
) 
data_test

#drop_unused_features

,lead_id,lead_indicator,date_part,source,domain,country,visited_learn_more_before_booking,visited_faq,purchases,time_spent,customer_group,onboarding,customer_code,n_visits
0,0,0.000,2024-01-24,organic,.dk,US,8,10,5,115.064,2,True,NaN,9
1,1,NaN,2024-01-01,signup,.dk,US,0,3,5,119.907,2,False,AGMVEYWACO,1
2,2,1.000,2024-01-27,signup,.dk,DK,7,10,3,100.474,5,False,STWPXVNOWA,16
3,3,1.000,2024-01-28,li,.cn,US,10,10,4,98.572,4,True,HZOKZERLZD,16
4,4,0.000,2024-01-05,fb,.com,US,5,1,5,101.996,9,False,CVLIHCAPZN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12340,12340,1.000,2024-01-07,li,.dk,DK,2,7,2,115.697,4,False,INLXHQVEHO,16
12341,12341,0.000,2024-01-28,organic,.cn,US,4,1,4,102.569,3,False,BDODVMUHMQ,5
12342,12342,0.000,2024-01-25,organic,.dk,US,3,1,4,96.472,2,False,VHKXQMJMMP,1
12343,12343,1.000,2024-01-29,signup,.com,DK,3,0,8,105.713,8,True,UNUSNTTYXR,18
12344,12344,0.000,2024-01-09,li,.dk,DK,2,10,5,110.765,4,False,QBMCKMQHZA,1

In [ ]:
#Removing columns that will be added back after the EDA
#data_test_2 = data_test.drop(
#    ["domain", "country", "visited_learn_more_before_booking", "visited_faq"],
#    axis=1
#)

In [8]:
from data.preprocessing import drop_unused_features


data= drop_unused_features(data)
data.columns

Index(['lead_id', 'lead_indicator', 'date_part', 'source', 'purchases',
       'time_spent', 'customer_group', 'onboarding', 'customer_code',
       'n_visits'],
      dtype='object')

# Data cleaning
* Remove rows with empty target variable
* Remove rows with other invalid column data

In [ ]:
#import numpy as np

#remove_empty_identifiers

#data_test_3= data.copy()
#data_test_3["lead_indicator"].replace("", np.nan, inplace=True)
#data_test_3["lead_id"].replace("", np.nan, inplace=True)
#data_test_3["customer_code"].replace("", np.nan, inplace=True)

# drop_invalid_rows

#data_test_3 = data_test_3.dropna(axis=0, subset=["lead_indicator"])
#data_test_3 = data_test_3.dropna(axis=0, subset=["lead_id"])

#data_test_3 = data_test_3[data_test_3.source == "signup"]
#result_3=data_test_3.lead_indicator.value_counts(normalize = True)

#print("Target value counter")
#for val, n in zip(result_3.index, result_3):
#    print(val, ": ", n)
#data_test_3

Target value counter
0.0 :  0.5318352059925093
1.0 :  0.4681647940074906

,lead_id,lead_indicator,date_part,source,purchases,time_spent,customer_group,onboarding,customer_code,n_visits
2,2,1.000,2024-01-27,signup,3,100.474,5,False,STWPXVNOWA,16
10,10,0.000,2024-01-11,signup,8,105.899,4,True,JWLXPVANUM,4
13,13,0.000,2024-01-22,signup,6,86.717,6,True,WNKCTHUHYI,5
17,17,1.000,2024-01-07,signup,5,106.952,8,False,INIQMTGGOO,8
19,19,0.000,2024-01-20,signup,3,94.668,9,True,SJGDAANOYJ,20
...,...,...,...,...,...,...,...,...,...,...
12328,12328,1.000,2024-01-01,signup,2,98.999,5,True,AYAVVZAMGV,14
12330,12330,1.000,2024-01-14,signup,6,101.390,4,True,YFKCVZSAJF,18
12334,12334,0.000,2024-01-21,signup,1,93.840,5,True,ROVGLTVJNL,1
12337,12337,1.000,2024-01-03,signup,0,110.320,6,True,BGQNNVRTDH,18
12343,12343,1.000,2024-01-29,signup,8,105.713,8,True,UNUSNTTYXR,18

In [9]:
from data.preprocessing import clean_data


data=clean_data(data)
data

,lead_id,lead_indicator,date_part,source,purchases,time_spent,customer_group,onboarding,customer_code,n_visits
2,2,1.000,2024-01-27,signup,3,100.474,5,False,STWPXVNOWA,16
10,10,0.000,2024-01-11,signup,8,105.899,4,True,JWLXPVANUM,4
13,13,0.000,2024-01-22,signup,6,86.717,6,True,WNKCTHUHYI,5
17,17,1.000,2024-01-07,signup,5,106.952,8,False,INIQMTGGOO,8
19,19,0.000,2024-01-20,signup,3,94.668,9,True,SJGDAANOYJ,20
...,...,...,...,...,...,...,...,...,...,...
12328,12328,1.000,2024-01-01,signup,2,98.999,5,True,AYAVVZAMGV,14
12330,12330,1.000,2024-01-14,signup,6,101.390,4,True,YFKCVZSAJF,18
12334,12334,0.000,2024-01-21,signup,1,93.840,5,True,ROVGLTVJNL,1
12337,12337,1.000,2024-01-03,signup,0,110.320,6,True,BGQNNVRTDH,18
12343,12343,1.000,2024-01-29,signup,8,105.713,8,True,UNUSNTTYXR,18

# Create categorical data columns

In [ ]:
#vars = [
#    "lead_id", "lead_indicator", "customer_group", "onboarding", "source", "customer_code"
#]

#for col in vars:
#    data[col] = data[col].astype("object")
#    print(f"Changed {col} to object type")

# Separate categorical and continuous columns

In [ ]:
#cont_vars = data.loc[:, ((data.dtypes=="float64")|(data.dtypes=="int64"))]
#cat_vars = data.loc[:, (data.dtypes=="object")]

#print("\nContinuous columns: \n")
#pprint(list(cont_vars.columns), indent=4)
#print("\n Categorical columns: \n")
#pprint(list(cat_vars.columns), indent=4)

Continuous columns:

[   'lead_id',
    'lead_indicator',
    'purchases',
    'time_spent',
    'customer_group',
    'n_visits']

 Categorical columns:

['date_part', 'source', 'customer_code']

In [17]:
from data.preprocessing import split_cat_cont


cat_vars, cont_vars = split_cat_cont(data)

# Outliers

Outliers are data points that significantly differ from the majority of observations in a dataset and can distort statistical analysis or model performance. To identify and remove outliers, one common method is to use the Z-score, which measures how many standard deviations a data point is from the mean. Data points with a Z-score greater than 2 (or sometimes 3) standard deviations away from the mean are typically considered outliers. By applying this threshold, we can filter out values that fall outside the normal range of the data, ensuring that the remaining dataset is more representative and less influenced by extreme values.

In [ ]:
#from data.preprocessing import describe_numeric_col


#cont_vars_test = cont_vars.apply(lambda x: x.clip(lower = (x.mean()-2*x.std()),
#                                             upper = (x.mean()+2*x.std())))
#outlier_summary = cont_vars_test.apply(describe_numeric_col).T
#outlier_summary.to_csv('./artifacts/outlier_summary.csv')
#outlier_summary

In [18]:
from data.preprocessing import clip_outliers, describe_numeric_col


cont_vars=clip_outliers(cont_vars)
outlier_summary = cont_vars.apply(describe_numeric_col).T
outlier_summary.to_csv('./artifacts/outlier_summary.csv')
outlier_summary

                  Count  Missing     Mean    Min       Max
lead_id        2937.000 2937.000 6159.832  2.000 12343.000
lead_indicator 2937.000 2937.000    0.468  0.000     1.000
purchases      2937.000 2937.000    5.000  0.578     9.495
time_spent     2937.000 2937.000  100.015 80.082   119.902
customer_group 2937.000 2937.000    5.055  1.000     9.000
n_visits       2937.000 2937.000    8.884  1.000    22.334

# Impute data

In real-world datasets, missing data is a common occurrence due to various factors such as human error, incomplete data collection processes, or system failures. These gaps in the data can hinder analysis and lead to biased results if not properly addressed. Since many analytical and machine learning algorithms require complete data, handling missing values is an essential step in the data preprocessing phase.

In the next code block, we will handle missing data by performing imputation. For numerical columns, we will replace missing values with the mean or median of the entire column, which provides a reasonable estimate based on the existing data. For categorical columns (object type), we will use the mode, or most frequent value, to fill in missing entries. This approach helps us maintain a complete dataset while ensuring that the imputed values align with the general distribution of each column.

In [ ]:
#cat_missing_impute = cat_vars.mode(numeric_only=False, dropna=True)
#cat_missing_impute.to_csv("./artifacts/cat_missing_impute.csv")
#cat_missing_impute

       date_part  source customer_code
0     2024-01-06  signup    AAAEJOLSFX
1            NaN     NaN    AACEDUWABX
2            NaN     NaN    AAJURHRBIM
3            NaN     NaN    AAMFOUYNWS
4            NaN     NaN    AAXKODEIPG
...          ...     ...           ...
2916         NaN     NaN    ZZDUIDJXXS
2917         NaN     NaN    ZZENJKIQTY
2918         NaN     NaN    ZZFPBNUSVL
2919         NaN     NaN    ZZGOQMDFDM
2920         NaN     NaN    ZZYRYYMZRX

[2921 rows x 3 columns]

In [ ]:
# Continuous variables missing values
from data.preprocessing import impute_missing_values


cont_vars_test = cont_vars.apply(impute_missing_values)
cont_vars_test.apply(describe_numeric_col).T

                  Count  Missing     Mean    Min       Max
lead_id        2937.000 2937.000 6159.832  2.000 12343.000
lead_indicator 2937.000 2937.000    0.468  0.000     1.000
purchases      2937.000 2937.000    5.036  0.000    15.000
time_spent     2937.000 2937.000   99.992 62.076   134.677
customer_group 2937.000 2937.000    5.055  1.000     9.000
n_visits       2937.000 2937.000    9.041  1.000    46.000

In [ ]:
from data.preprocessing import impute_missing_values


cat_vars_test=cat_vars.loc[cat_vars['customer_code'].isna(),'customer_code'] = 'None'
cat_vars_test = cat_vars.apply(impute_missing_values)
cat_vars_test.apply(lambda x: pd.Series([x.count(), x.isnull().sum()], index = ['Count', 'Missing'])).T
cat_vars_test

        date_part  source customer_code
2      2024-01-27  signup    STWPXVNOWA
10     2024-01-11  signup    JWLXPVANUM
13     2024-01-22  signup    WNKCTHUHYI
17     2024-01-07  signup    INIQMTGGOO
19     2024-01-20  signup    SJGDAANOYJ
...           ...     ...           ...
12328  2024-01-01  signup    AYAVVZAMGV
12330  2024-01-14  signup    YFKCVZSAJF
12334  2024-01-21  signup    ROVGLTVJNL
12337  2024-01-03  signup    BGQNNVRTDH
12343  2024-01-29  signup    UNUSNTTYXR

[2937 rows x 3 columns]

In [ ]:
#from data.preprocessing import impute_all_missing


#cat_vars, cont_vars = impute_all_missing(data)

# Data standardisation

Standardization, or scaling, becomes necessary when continuous independent variables are measured on different scales, as this can lead to unequal contributions to the analysis. The objective is to rescale these variables so they have comparable ranges and/or variances, ensuring a more balanced influence in the model.

In [ ]:
#from sklearn.preprocessing import MinMaxScaler
#import joblib

#scaler_path = "./artifacts/scaler.pkl"

#scaler = MinMaxScaler()
#scaler.fit(cont_vars)

#joblib.dump(value=scaler, filename=scaler_path)
#print("Saved scaler in artifacts")

#cont_vars = pd.DataFrame(scaler.transform(cont_vars), columns=cont_vars.columns)
#cont_vars

In [20]:
from data.preprocessing import scale_continuous_values


cont_vars=scale_continuous_values(cont_vars, save_path="./artifacts/scaler.pkl")
cont_vars

      lead_id  lead_indicator  purchases  time_spent  customer_group  n_visits
0       0.000           1.000      0.200       0.529           0.500     0.333
1       0.001           0.000      0.533       0.604           0.375     0.067
2       0.001           0.000      0.400       0.339           0.625     0.089
3       0.001           1.000      0.333       0.618           0.875     0.156
4       0.001           0.000      0.200       0.449           1.000     0.422
...       ...             ...        ...         ...             ...       ...
2932    0.999           1.000      0.133       0.509           0.500     0.289
2933    0.999           1.000      0.400       0.542           0.375     0.378
2934    0.999           0.000      0.067       0.438           0.500     0.000
2935    1.000           1.000      0.000       0.665           0.625     0.378
2936    1.000           1.000      0.533       0.601           0.875     0.378

[2937 rows x 6 columns]

# Combine data

In [11]:
cont_vars = cont_vars.reset_index(drop=True)
cat_vars = cat_vars.reset_index(drop=True)
data = pd.concat([cat_vars, cont_vars], axis=1)
print(f"Data cleansed and combined.\nRows: {len(data)}")
data

NameError: name 'cont_vars' is not defined

# Data drift artifact

In [22]:
import json

data_columns = list(data.columns)
with open('./artifacts/columns_drift.json','w+') as f:           
    json.dump(data_columns,f)
    
data.to_csv('./artifacts/training_data.csv', index=False)

# Binning object columns

In [23]:
data.columns

Index(['date_part', 'source', 'customer_code', 'lead_id', 'lead_indicator',
       'purchases', 'time_spent', 'customer_group', 'n_visits'],
      dtype='object')

In [ ]:
#data['bin_source'] = data['source']
#values_list = ['li', 'organic','signup','fb']
#data.loc[~data['source'].isin(values_list),'bin_source'] = 'Others'
#mapping = {'li' : 'socials', 
#           'fb' : 'socials', 
#           'organic': 'group1', 
#           'signup': 'group1'
#           }

#data['bin_source'] = data['source'].map(mapping)

In [24]:
from data.preprocessing import bin_source_column


data=bin_source_column(data)

In [25]:
data

,date_part,source,customer_code,lead_id,lead_indicator,purchases,time_spent,customer_group,n_visits,bin_source
0,2024-01-27,signup,STWPXVNOWA,0.000,1.000,0.200,0.529,0.500,0.333,group1
1,2024-01-11,signup,JWLXPVANUM,0.001,0.000,0.533,0.604,0.375,0.067,group1
2,2024-01-22,signup,WNKCTHUHYI,0.001,0.000,0.400,0.339,0.625,0.089,group1
3,2024-01-07,signup,INIQMTGGOO,0.001,1.000,0.333,0.618,0.875,0.156,group1
4,2024-01-20,signup,SJGDAANOYJ,0.001,0.000,0.200,0.449,1.000,0.422,group1
...,...,...,...,...,...,...,...,...,...,...
2932,2024-01-01,signup,AYAVVZAMGV,0.999,1.000,0.133,0.509,0.500,0.289,group1
2933,2024-01-14,signup,YFKCVZSAJF,0.999,1.000,0.400,0.542,0.375,0.378,group1
2934,2024-01-21,signup,ROVGLTVJNL,0.999,0.000,0.067,0.438,0.500,0.000,group1
2935,2024-01-03,signup,BGQNNVRTDH,1.000,1.000,0.000,0.665,0.625,0.378,group1
2936,2024-01-29,signup,UNUSNTTYXR,1.000,1.000,0.533,0.601,0.875,0.378,group1

# Save gold medallion dataset

In [ ]:
#spark.sql(f"drop table if exists train_gold")

In [26]:
# data_gold = spark.createDataFrame(data)
# data_gold.write.saveAsTable('train_gold')
# dbutils.notebook.exit(('training_golden_data',most_recent_date))

data.to_csv('./artifacts/train_data_gold.csv', index=False)

# Preprocessing using functions

In [1]:
import sys, os
import pandas as pd

sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "..")))
from data.preprocessing import preprocess_training_data

base_dir = os.path.abspath(os.path.join(os.getcwd(), ".."))
input_path = os.path.join(base_dir, "data/raw/raw_data.csv")

os.makedirs("artifacts",exist_ok=True)

max_date = "2024-01-31"
min_date = "2024-01-01"

data = preprocess_training_data(
    input_path=input_path,
    output_dir="./artifacts",
    min_date="2024-01-01",
    max_date="2024-01-31"
)
data.to_csv('./artifacts/train_data_gold.csv', index=False)

/Users/tettret/Desktop/MLOps/itu-sdse-project/mlops_refactor/data/preprocessing.py:95: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].replace("", np.nan, inplace=True)

In [2]:
data

,date_part,source,onboarding,customer_code,lead_id,lead_indicator,purchases,time_spent,customer_group,n_visits,bin_source
0,2024-01-27,signup,False,STWPXVNOWA,0.000000,1.0,0.271612,0.512086,0.500,0.703093,group1
1,2024-01-11,signup,True,JWLXPVANUM,0.000648,0.0,0.832368,0.648330,0.375,0.140619,group1
2,2024-01-22,signup,True,WNKCTHUHYI,0.000891,0.0,0.608065,0.166620,0.625,0.187492,group1
3,2024-01-07,signup,False,INIQMTGGOO,0.001215,1.0,0.495914,0.674776,0.875,0.328110,group1
4,2024-01-20,signup,True,SJGDAANOYJ,0.001378,0.0,0.271612,0.366288,1.000,0.890585,group1
...,...,...,...,...,...,...,...,...,...,...,...
2932,2024-01-01,signup,True,AYAVVZAMGV,0.998785,1.0,0.159461,0.475057,0.500,0.609348,group1
2933,2024-01-14,signup,True,YFKCVZSAJF,0.998947,1.0,0.608065,0.535096,0.375,0.796839,group1
2934,2024-01-21,signup,True,ROVGLTVJNL,0.999271,0.0,0.047310,0.345506,0.500,0.000000,group1
2935,2024-01-03,signup,True,BGQNNVRTDH,0.999514,1.0,0.000000,0.759362,0.625,0.796839,group1
2936,2024-01-29,signup,True,UNUSNTTYXR,1.000000,1.0,0.832368,0.643658,0.875,0.796839,group1

# MODEL TRAINING

Training the model uses a training dataset for training an ML algorithm. It has sample output data and the matching input data that affects the output.

In [2]:
import datetime

# Constants used:
current_date = datetime.datetime.now().strftime("%Y_%B_%d")
data_gold_path = "./artifacts/train_data_gold.csv"
data_version = "00000"
experiment_name = current_date

# Create paths

Maybe the artifacts path has not been created during data cleaning

In [3]:
import os
import shutil

os.makedirs("artifacts", exist_ok=True)
os.makedirs("mlruns", exist_ok=True)
os.makedirs("mlruns/.trash", exist_ok=True)

In [4]:
import mlflow

mlflow.set_experiment(experiment_name)

<Experiment: artifact_location='file:///Users/tettret/Desktop/MLOps/itu-sdse-project/mlops_refactor/notebooks/mlruns/531478406410911006', creation_time=1764773172879, experiment_id='531478406410911006', last_update_time=1764773172879, lifecycle_stage='active', name='2025_December_03', tags={}>

# Helper functions

* *create_dummies*: Create one-hot encoding columns in the data.

In [ ]:
#def create_dummy_cols(df, col):
#    df_dummies = pd.get_dummies(df[col], prefix=col, drop_first=True)
#    new_df = pd.concat([df, df_dummies], axis=1)
#    new_df = new_df.drop(col, axis=1)
#    return new_df

# create_dummy_cols

# Load training data
We use the training data we cleaned earlier

In [ ]:
#data = pd.read_csv(data_gold_path)
#print(f"Training data length: {len(data)}")
#data.head(5)

# Data type split

In [ ]:
#data = data.drop(["lead_id", "customer_code", "date_part"], axis=1)

#cat_cols = ["customer_group", "onboarding", "bin_source", "source"]
#cat_vars = data[cat_cols]

#other_vars = data.drop(cat_cols, axis=1)

In [5]:
from models.train_model import prepare_features


data= prepare_features(data, data_gold_path)
data

,lead_indicator,purchases,time_spent,n_visits,customer_group_0.125,customer_group_0.25,customer_group_0.375,customer_group_0.5,customer_group_0.625,customer_group_0.75,customer_group_0.875,customer_group_1.0,onboarding_True
0,1.0,0.271612,0.512086,0.703093,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.832368,0.648330,0.140619,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.608065,0.166620,0.187492,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,1.0,0.495914,0.674776,0.328110,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.271612,0.366288,0.890585,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2932,1.0,0.159461,0.475057,0.609348,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2933,1.0,0.608065,0.535096,0.796839,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
2934,0.0,0.047310,0.345506,0.000000,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2935,1.0,0.000000,0.759362,0.796839,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2936,1.0,0.832368,0.643658,0.796839,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0

# Dummy variable for categorical vars

1. Create one-hot encoded cols for cat vars
2. Change to floats

In [ ]:
#import pandas as pd

#from mlops_refactor.data.preprocessing import create_dummy_cols

#for col in cat_vars:
#    cat_vars[col] = cat_vars[col].astype("category")
#    cat_vars = create_dummy_cols(cat_vars, col)

#data = pd.concat([other_vars, cat_vars], axis=1)

#for col in data:
#    data[col] = data[col].astype("float64")
#    print(f"Changed column {col} to float")

# Splitting data

In [6]:
#y = data["lead_indicator"]
#X = data.drop(["lead_indicator"], axis=1)

from models.train_model import split_features_target


X, y= split_features_target(data, target_col="lead_indicator")

In [7]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=42, test_size=0.15, stratify=y
)
y_train

335     1.0
499     0.0
2850    1.0
2142    0.0
1019    0.0
       ...
1378    0.0
2771    0.0
28      0.0
1410    1.0
2488    1.0
Name: lead_indicator, Length: 2496, dtype: float64

# Model training

This stage involves training the ML algorithm by providing it with datasets, where the learning process takes place. Consistent training can significantly enhance the model's prediction accuracy. It's essential to initialize the model's weights randomly so the algorithm can effectively learn to adjust them.

# XGBoost

In [ ]:
# from xgboost import XGBRFClassifier
# from sklearn.model_selection import RandomizedSearchCV
# from scipy.stats import uniform
# from scipy.stats import randint

# model = XGBRFClassifier(random_state=42)
# params = {
#     "learning_rate": uniform(1e-2, 3e-1),
#     "min_split_loss": uniform(0, 10),
#     "max_depth": randint(3, 10),
#     "subsample": uniform(0, 1),
#     "objective": ["reg:squarederror", "binary:logistic", "reg:logistic"],
#     "eval_metric": ["aucpr", "error"]
# }

# model_grid = RandomizedSearchCV(model, param_distributions=params, n_jobs=-1, verbose=3, n_iter=10, cv=10)

# model_grid.fit(X_train, y_train)

# Model test accuracy

In [ ]:
# from sklearn.metrics import accuracy_score

# best_model_xgboost_params = model_grid.best_params_
# print("Best xgboost params")
# pprint(best_model_xgboost_params)

# y_pred_train = model_grid.predict(X_train)
# y_pred_test = model_grid.predict(X_test)
# print("Accuracy train", accuracy_score(y_pred_train, y_train ))
# print("Accuracy test", accuracy_score(y_pred_test, y_test))

# XGBoost performance overview
* Confusion matrix
* Classification report

In [ ]:
# from sklearn.metrics import confusion_matrix
# from sklearn.metrics import classification_report

# conf_matrix = confusion_matrix(y_test, y_pred_test)
# print("Test actual/predicted\n")
# print(pd.crosstab(y_test, y_pred_test, rownames=['Actual'], colnames=['Predicted'], margins=True),'\n')
# print("Classification report\n")
# print(classification_report(y_test, y_pred_test),'\n')

# conf_matrix = confusion_matrix(y_train, y_pred_train)
# print("Train actual/predicted\n")
# print(pd.crosstab(y_train, y_pred_train, rownames=['Actual'], colnames=['Predicted'], margins=True),'\n')
# print("Classification report\n")
# print(classification_report(y_train, y_pred_train),'\n')

# Save best XGBoost model

In [ ]:
# xgboost_model = model_grid.best_estimator_
# xgboost_model_path = "./artifacts/lead_model_xgboost.json"
# xgboost_model.save_model(xgboost_model_path)

# model_results = {
#     xgboost_model_path: classification_report(y_train, y_pred_train, output_dict=True)
# }

In [ ]:
# from models.train_model import train_XGBRFClassifier


# xgboost_model, model_results = train_XGBRFClassifier(
#     X_train, y_train, save_path="./artifacts/lead_model_xgboost.json"
# )

# SKLearn logistic regression

In [ ]:
# import mlflow.pyfunc

# from sklearn.metrics import f1_score, accuracy_score, classification_report
# from sklearn.linear_model import LogisticRegression
# import os
# from sklearn.metrics import classification_report, cohen_kappa_score, confusion_matrix, f1_score
# import matplotlib.pyplot as plt
# import joblib
# from sklearn.model_selection import RandomizedSearchCV

# class lr_wrapper(mlflow.pyfunc.PythonModel):
#     def __init__(self, model):
#         self.model = model
    
#     def predict(self, context, model_input):
#         return self.model.predict_proba(model_input)[:, 1]


# mlflow.sklearn.autolog(log_input_examples=True, log_models=False)
# experiment_id = mlflow.get_experiment_by_name(experiment_name).experiment_id

# with mlflow.start_run(experiment_id=experiment_id) as run:
#     model = LogisticRegression()
#     lr_model_path = "./artifacts/lead_model_lr.pkl"

#     params = {
#               'solver': ["newton-cg", "lbfgs", "liblinear", "sag", "saga"],
#               'penalty':  ["none", "l1", "l2", "elasticnet"],
#               'C' : [100, 10, 1.0, 0.1, 0.01]
#     }
#     model_grid = RandomizedSearchCV(model, param_distributions= params, verbose=3, n_iter=10, cv=3)
#     model_grid.fit(X_train, y_train)

#     best_model = model_grid.best_estimator_

#     y_pred_train = model_grid.predict(X_train)
#     y_pred_test = model_grid.predict(X_test)


#     # log artifacts
#     mlflow.log_metric('f1_score', f1_score(y_test, y_pred_test))
#     mlflow.log_artifacts("artifacts", artifact_path="model")
#     mlflow.log_param("data_version", "00000")
    
#     # store model for model interpretability
#     joblib.dump(value=model, filename=lr_model_path)
        
#     # Custom python model for predicting probability 
#     mlflow.pyfunc.log_model('model', python_model=lr_wrapper(model))


# model_classification_report = classification_report(y_test, y_pred_test, output_dict=True)

# best_model_lr_params = model_grid.best_params_

# print("Best lr params")
# print(best_model_lr_params)

# print("Accuracy train:", accuracy_score(y_pred_train, y_train ))
# print("Accuracy test:", accuracy_score(y_pred_test, y_test))

# conf_matrix = confusion_matrix(y_test, y_pred_test)
# print("Test actual/predicted\n")
# print(pd.crosstab(y_test, y_pred_test, rownames=['Actual'], colnames=['Predicted'], margins=True),'\n')
# print("Classification report\n")
# print(classification_report(y_test, y_pred_test),'\n')

# conf_matrix = confusion_matrix(y_train, y_pred_train)
# print("Train actual/predicted\n")
# print(pd.crosstab(y_train, y_pred_train, rownames=['Actual'], colnames=['Predicted'], margins=True),'\n')
# print("Classification report\n")
# print(classification_report(y_train, y_pred_train),'\n')

# #model_results[lr_model_path] = model_classification_report
# #print(model_classification_report["weighted avg"]["f1-score"])

In [ ]:
#from models.train_model import train_LogisticRegression


#best_lr_model, lr_report = train_LogisticRegression(X_train, y_train, X_test, y_test, "lead_scoring_experiment")

# Train both models

In [ ]:
# Train both models
from models.train_model import train_LogisticRegression, train_XGBRFClassifier
import json


xgb_report = train_XGBRFClassifier(X_train, y_train)
lr_report = train_LogisticRegression(X_train, y_train, X_test, y_test, experiment_name)

# Collect results
model_results = {}

xgboost_model_path = "./artifacts/lead_model_xgboost.json"
lr_model_path = "./artifacts/lead_model_lr.pkl"
model_results[xgboost_model_path] = xgb_report
model_results[lr_model_path] = lr_report

# Save combined results to one file
model_results_path = "./artifacts/model_results.json"
with open(model_results_path, 'w') as f:
    json.dump(model_results, f, indent=4)

print(f"✅ Saved combined model results to: {model_results_path}")

In [10]:
model_results

{'./artifacts/lead_model_xgboost.json': {'./artifacts/lead_model_xgboost.json': {'0.0': {'precision': 0.7946058091286307,
    'recall': 0.86586284853052,
    'f1-score': 0.8287053732419762,
    'support': 1327.0},
   '1.0': {'precision': 0.8304761904761905,
    'recall': 0.7459366980325064,
    'f1-score': 0.7859396124380351,
    'support': 1169.0},
   'accuracy': 0.8096955128205128,
   'macro avg': {'precision': 0.8125409998024106,
    'recall': 0.8058997732815132,
    'f1-score': 0.8073224928400057,
    'support': 2496.0},
   'weighted avg': {'precision': 0.811405679238926,
    'recall': 0.8096955128205128,
    'f1-score': 0.8086760565833997,
    'support': 2496.0}}},
 './artifacts/lead_model_lr.pkl': {'0.0': {'precision': 0.7582417582417582,
   'recall': 0.8808510638297873,
   'f1-score': 0.8149606299212598,
   'support': 235.0},
  '1.0': {'precision': 0.8333333333333334,
   'recall': 0.6796116504854369,
   'f1-score': 0.7486631016042781,
   'support': 206.0},
  'accuracy': 0.7868480725623582,
  'macro avg': {'precision': 0.7957875457875458,
   'recall': 0.780231357157612,
   'f1-score': 0.781811865762769,
   'support': 441.0},
  'weighted avg': {'precision': 0.7933185484205891,
   'recall': 0.7868480725623582,
   'f1-score': 0.7839917164670689,
   'support': 441.0}}}

# Save columns and model results

In [ ]:
column_list_path = './artifacts/columns_list.json'
with open(column_list_path, 'w+') as columns_file:
    columns = {'column_names': list(X_train.columns)}
    pprint(columns)
    json.dump(columns, columns_file)

print('Saved column list to ', column_list_path)

model_results_path = "./artifacts/model_results.json"
with open(model_results_path, 'w+') as results_file:
    json.dump(model_results, results_file)

# MODEL SELECTION

Model selection involves choosing the most suitable statistical model from a set of candidates. In straightforward cases, this process uses an existing dataset. When candidate models offer comparable predictive or explanatory power, the simplest model is generally the preferred choice.

In [13]:
# Constants used:
current_date = datetime.datetime.now().strftime("%Y_%B_%d")
artifact_path = "model"
model_name = "lead_model"
experiment_name = current_date

# Helper functions

In [14]:
import time
from mlflow.tracking.client import MlflowClient
from mlflow.entities.model_registry.model_version_status import ModelVersionStatus
from mlflow.tracking.client import MlflowClient

def wait_until_ready(model_name, model_version):
    client = MlflowClient()
    for _ in range(10):
        model_version_details = client.get_model_version(
          name=model_name,
          version=model_version,
        )
        status = ModelVersionStatus.from_string(model_version_details.status)
        print(f"Model status: {ModelVersionStatus.to_string(status)}")
        if status == ModelVersionStatus.READY:
            break
        time.sleep(1)

# Getting experiment model results

In [ ]:
experiment_ids = [mlflow.get_experiment_by_name(experiment_name).experiment_id]
experiment_ids

In [ ]:
experiment_best = mlflow.search_runs(
    experiment_ids=experiment_ids,
    order_by=["metrics.f1_score DESC"],
    max_results=1
).iloc[0]
experiment_best

In [ ]:
#import json

#with open("./artifacts/model_results.json", "r") as f:
#    model_results = json.load(f)
#results_df = pd.DataFrame({model: val["weighted avg"] for model, val in model_results.items()}).T
#results_df

In [ ]:
#NOT USED ANYWHERE

#best_model = results_df.sort_values("f1-score", ascending=False).iloc[0].name
#print(f"Best model: {best_model}")

# Get production model

In [ ]:
from mlflow.tracking import MlflowClient

client = MlflowClient()
prod_model = [model for model in client.search_model_versions(f"name='{model_name}'") if dict(model)['current_stage']=='Production']
prod_model_exists = len(prod_model)>0

if prod_model_exists:
    prod_model_version = dict(prod_model[0])['version']
    prod_model_run_id = dict(prod_model[0])['run_id']
    
    print('Production model name: ', model_name)
    print('Production model version:', prod_model_version)
    print('Production model run id:', prod_model_run_id)
    
else:
    print('No model in production')

# Compare prod and best trained model

In [ ]:
train_model_score = experiment_best["metrics.f1_score"]
model_details = {}
model_status = {}
run_id = None

if prod_model_exists:
    data, details = mlflow.get_run(prod_model_run_id)
    prod_model_score = data[1]["metrics.f1_score"]

    model_status["current"] = train_model_score
    model_status["prod"] = prod_model_score

    if train_model_score>prod_model_score:
        print("Registering new model")
        run_id = experiment_best["run_id"]
else:
    print("No model in production")
    run_id = experiment_best["run_id"]

print(f"Registered model: {run_id}")

# Register best model

In [ ]:
if run_id is not None:
    print(f'Best model found: {run_id}')

    model_uri = "runs:/{run_id}/{artifact_path}".format(
        run_id=run_id,
        artifact_path=artifact_path
    )
    model_details = mlflow.register_model(model_uri=model_uri, name=model_name)
    wait_until_ready(model_details.name, model_details.version)
    model_details = dict(model_details)
    print(model_details)

# DEPLOY

A model version can be assigned to one or more stages. MLflow provides predefined stages for common use cases: None, Staging, Production, and Archived. With the necessary permissions, you can transition a model version between stages or request a transition to a different stage.

In [ ]:
model_version = 1

# Transition to staging

In [ ]:
from mlflow.tracking import MlflowClient

client = MlflowClient()


def wait_for_deployment(model_name, model_version, stage='Staging'):
    status = False
    while not status:
        model_version_details = dict(
            client.get_model_version(name=model_name,version=model_version)
            )
        if model_version_details['current_stage'] == stage:
            print(f'Transition completed to {stage}')
            status = True
            break
        else:
            time.sleep(2)
    return status

model_version_details = dict(client.get_model_version(name=model_name,version=model_version))
model_status = True
if model_version_details['current_stage'] != 'Staging':
    client.transition_model_version_stage(
        name=model_name,
        version=model_version,stage="Staging", 
        archive_existing_versions=True
    )
    model_status = wait_for_deployment(model_name, model_version, 'Staging')
else:
    print('Model already in staging')